* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(230, 218, 202);
    font-family: American Typewriter, serif;
}

header {
    padding: 40px;
    background-color: #3a445d;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header * {
    background-color: #3a445d;
    color: white;
}

h1 {
    font-size: 50px;
}

/* Centers start button on page. Also makes it stand out from header */

header button {
    font-size: 35px;
    background-color: green;
    padding: 15px 65px;
    position: relative;
    right: 10%;
    box-shadow: 5px 5px; color: black;
}

#timer {
    font-size: 35px
}

/* Styling for high scores */
#high-scores  {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 13%;
}

h2 {
    font-size: 35px;
}

ul {
    list-style-type: none;
    font-size: 35px;
}

/* Styling for questions */
#question * {
    padding: 10px;
}

#question {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
}

#question h2 {
    font-size: 35px;
}

#question ul {
    list-style-type: none;
    font-size: 35px;
}

#question input[type=checkbox] {
    width:15px;
    height: 15px;
}

